div.container.app-container {
    margin-top: 25px;
}

h4.main-app-header {
    font-style: italic;
}

blockquote.custom-blockquote {
    padding: 5px 15px !important;
    font-size: 14px !important;
}

div.navigation-container {
    padding: 5px 10px;
    border: 1.5px solid #959595;
    border-radius: 6px;
}